/* General page layout */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
